body {
  background-color: #FFC400;
}

/* Home */
.navbar {
  font-family: 'Poppins', Sans-Serif;
  margin-bottom: 300px;
}

.navbar-brand {
  color: #FFC400 !important;
  font-weight: bold;
}

#footer {
  text-align: center;
  color: #282E34;
  font-family: 'Poppins', cursive;
  font-weight: bold;
}

.image-left {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: 35px;
}

.about-right {
  text-align: left;
  padding-top: 200px;
  font-family: 'Poppins', cursive;
  color: #282E34;
  font-weight: bold;
  margin-right: 35px;
}

@media(max-width=569px) {
  .pimg1, .pimg2, {
    background-attachment: scroll;
  }
}