body {
  background-color: #FFC400;
}

/* Home */
.navbar {
  font-family: 'Poppins', Sans-Serif;
  margin-bottom: 300px;
}

.navbar-brand {
  color: #FFC400 !important;
  font-weight: bold;
}

#footer {
  text-align: center;
  color: #282E34;
  font-family: 'Poppins', cursive;
  font-weight: bold;
}

.contact-left {
  padding-top: 300px;
  padding-bottom: 200px;
  margin-left: 35px;
  text-align: right;
  font-family: 'Poppins', cursive;
  padding-right: 50px;
}

.image-right {
  padding-top: 100px;
  margin-right: 35px;
  padding-bottom: 100px;

}

a {
  color: #282E34;
}

@media(max-width=569px) {
  .pimg1, .pimg2, {
    background-attachment: scroll;
  }
}