body {
  background-color: #FFFFFF;
}

/* Home */
.navbar {
  font-family: 'Poppins', Sans-Serif;
}

.navbar-brand {
  color: #FFC400 !important;
  font-weight: bold;
}

.pimg1, .pimg2 {
  position: relative;
  opacity: 0.90;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  /*
  Fixed = Parallax
  Scroll = Normal
  */
  
  background-attachment: fixed;
}

.pimg1 {
  background-image: url("https://images.pexels.com/photos/134577/pexels-photo-134577.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
  min-height: 600px;
}

.pimg2 {
  background-image: url("https://images.pexels.com/photos/7101/wood-coffee-iphone-notebook.jpg?w=940&h=650&auto=compress&cs=tinysrgb");
  min-height: 300px;
}

.section {
  text-align: center;
  padding: 50px 80px;
  font-family: 'Josefin Sans', sans-serif;
}

.section-light {
  background-color: #F4F4F4;
  color: #66666;
  margin-top: 0;
}

.section-dark {
  background-color: #282E34;
  color: #DDDDDD;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000000;
  font-size: 25px;
  letter-spacing: 8px;
}

.ptext .border {
  background-color: #111111;
  font-size:38px;
  color: #FFFFFF;
  padding: 20px;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
}

.ptext .border.trans {
  font-size: 42px;
  background-color: transparent;
  color: #FFFFFF;
}

#footer {
  text-align: center;
  color: #282E34;
  background-color: #FFC400;
  font-family: 'Poppins', cursive;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
}

@media(max-width=569px) {
  .pimg1, .pimg2, {
    background-attachment: scroll;
  }
}